<h1>Todos: {{todosCtrl.loggedInUser.name}}</h1>
<button type="button" class="btn btn-default" ng-click="todosCtrl.loadData()">Get all todos</button>
<button type="button" class="btn btn-default" ng-click="todosCtrl.getAllCompleted()">Get all completed</button>
<button type="button" class="btn btn-default" ng-click="todosCtrl.getAllUnCompleted()">Get all uncompleted</button>
<ul class="list-group">
  <li class="list-group-item" 
      ng-class="{'list-group-item-success': item.completed}" 
      ng-repeat="item in todosCtrl.data">
    <span>{{::item.id}}</span> <span>{{::item.title}}</span>
  </li>
</ul>
